<app-dashboard *ngIf="false"></app-dashboard>
<div class="row pt-5 mt-5 ">
  <div class="col-md-6 d-flex justify-content-center align-items-center">
    <button class="card bg-primary text-white p-5"
            (click)="logIn()">
      <div class="card-body">
        <h2><i class="fa fa-user-secret"
             aria-hidden="true"></i>
        </h2>
        <h5 class="card-title">Login as spectator</h5>
      </div>
    </button>
  </div>
  <div class="col-md-6 d-flex justify-content-center align-items-center">
    <button class="card bg-primary text-white p-5"
            data-test='logInButton'
            (click)="logIn()">
      <div class="card-body">
        <h2><i class="fa fa-gamepad"
             aria-hidden="true"></i>
        </h2>
        <h5 class="card-title">Login as player</h5>
      </div>
    </button>
  </div>
</div>
